// Header/Navbar styling
// Common value declaration

header .container {
  // background-color: #171d22;
  color: var(--white);
  width: 80%;
  margin: auto;
  padding: 3rem 0rem;
  @include tabletLandscape {
    width: 90%;
  }
}
.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-container {
    img {
      font-weight: bold;
      color: var(--customYellow);
      font-size: 30px;
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }
  .fa-bars {
    display: none;
    @include tabletLandscape {
      display: block;
      cursor: pointer;
      &:hover {
        color: var(--customYellow);
      }
    }
  }
  .nav-toolbar {
    display: flex;
    align-items: center;
    gap: 2rem;

    .fa-search,
    .fa-user {
      font-size: 17px;
      &:hover {
        color: var(--customYellow);
      }
    }
    .subscribe-btn {
      @include tabletLandscape {
        display: none;
      }
    }
    //mobile menu styling

    .mobile-menu-container {
      width: 300px;
      max-width: 100%;
      height: 100%;
      display: none;
      position: fixed;
      right: 0;
      top: 0;
      background-color: var(--darkBg);

      @include tabletLandscape {
        display: flex;
        flex-direction: column;
        z-index: 99;

        nav {
          display: flex;
          ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            li {
              border-top: 1px solid rgb(255 255 255 / 10%);
              margin-right: 0;
              a {
                padding: 10px 25px;
                line-height: 24px;
                font-size: 15px;
                position: relative;
                display: block;
                font-weight: 500;
                text-transform: capitalize;
              }
            }
          }
        }
      }
      .mob-menu-header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 25px;
        .logo-container {
          img {
            font-size: 24px;
          }
        }
        .close-icon {
          font-size: 20px;
        }
      }
    }
    .mobile-nav-backdrop {
      display: none;
    }

    .mobile-nav-backdrop.visible {
      display: block;
      position: fixed;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0.8;
      background: var(--darkBg);
      transition: 0.6s;
    }
    .mobile-nav-open {
      transition: 0.6s;
      transform: translateX(0%);
    }
    .mobile-nav-closed {
      transition: 0.6s;
      transform: translateX(101%);
      opacity: 0;
    }
  }
}
header nav ul {
  display: inline-block;
  font-size: var(--mainFontSize);
  li {
    display: inline-block;
    margin-right: 20px;

    a {
      color: var(--white);
      transition: all 300ms ease-in-out;
      &:hover {
        color: var(--customYellow);
      }
    }
    .active {
      color: var(--customYellow);
    }
  }
  @include tabletLandscape {
    display: none;
  }
}
