/* Screen size breakpoints */
/* Small mobile devices */
/* Portrait mode tablets */
/* Landscape mode tablets */
/* Standard desktops */
/* Large desktops */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.home {
  color: var(--white);
  background-image: url("../assets/images/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100%;
}
.home .headerbg {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(34, 31, 31) 0%, rgba(34, 31, 31, 0.4) 100%);
}
.home .headerbg .banner-wrapper {
  width: 80%;
  margin: auto;
  padding: 10rem 0rem;
  /* 6. Banner */
}
@media (max-width: 1280px) {
  .home .headerbg .banner-wrapper {
    width: 90%;
  }
}
.home .headerbg .banner-wrapper .banner {
  font-size: 100%;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2666666667);
}
.home .headerbg .banner-wrapper .banner .sub-title {
  color: var(--customYellow);
  font-size: 1.5em;
  margin-bottom: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.home .headerbg .banner-wrapper .banner h1,
.home .headerbg .banner-wrapper .banner h2,
.home .headerbg .banner-wrapper .banner div,
.home .headerbg .banner-wrapper .banner .banner-btn {
  transform: translateY(20px);
  opacity: 0;
  animation: showBannerContent 1s linear 1 forwards;
}
@keyframes showBannerContent {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.home .headerbg .banner-wrapper .banner h2 {
  animation-delay: 0.5s;
}
.home .headerbg .banner-wrapper .banner h1 {
  animation-delay: 0.7s;
}
.home .headerbg .banner-wrapper .banner div {
  animation-delay: 0.9s;
}
.home .headerbg .banner-wrapper .banner .banner-btn {
  animation-delay: 1.1s;
}
.home .headerbg .banner-wrapper .banner .title {
  font-size: clamp(24px, 3vw + 1rem, 60px);
  line-height: 1.2;
  margin-bottom: 29px;
}
.home .headerbg .banner-wrapper .banner .title span {
  color: var(--customYellow);
}
.home .headerbg .banner-wrapper .banner-meta {
  margin-bottom: 35px;
}
.home .headerbg .banner-wrapper .banner-meta ul {
  display: flex;
  flex-wrap: wrap;
}
.home .headerbg .banner-wrapper .banner-meta ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 18px;
}
.home .headerbg .banner-wrapper .banner-meta ul li.quality > span {
  font-size: 11px;
  text-transform: uppercase;
  color: #21232b;
  background: #fff;
  font-weight: 700;
  padding: 7px 11px;
  line-height: 1;
}
.home .headerbg .banner-wrapper .banner-meta ul li.quality > span:last-child {
  background: transparent;
  color: #fff;
  margin-left: 9px;
  border: 2px solid #fff;
  padding: 5px 10px;
}
.home .headerbg .banner-wrapper .banner-meta ul li.category {
  display: flex;
  gap: 5px;
}
.home .headerbg .banner-wrapper .banner-meta ul li.category > a {
  font-size: var(--mainFontSize);
  font-weight: 500;
  color: #e3dfdf;
  text-transform: none;
}
.home .headerbg .banner-wrapper .banner-meta ul li.category > a:hover {
  color: var(--customYellow);
}
.home .headerbg .banner-wrapper .banner-meta ul li.release-time {
  display: flex;
  gap: 1rem;
}
.home .headerbg .banner-wrapper .banner-meta ul li.release-time > span {
  font-size: var(--mainFontSize);
  font-weight: 500;
  color: #e3dfdf;
}
.home .headerbg .banner-wrapper .banner-meta ul li.release-time > span > i {
  color: var(--customYellow);
  font-size: 12px;
  margin-right: 5px;
}

.latest-movies-section {
  display: flex;
  min-height: 840px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.latest-movies-section .content-container {
  width: 80%;
  margin: auto;
  padding: 10rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.latest-movies-section .content-container .content-header-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  gap: 1rem;
}
.latest-movies-section .content-container .content-header-part h2 {
  color: var(--white);
  font-size: 36px;
  text-wrap: nowrap;
}
.latest-movies-section .content-container .content-header-part .content-type-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.latest-movies-section .content-container .content-header-part .content-type-buttons button {
  border: 2px solid var(--darkBorder);
  background-color: var(--darkBg);
}
.latest-movies-section .content-container .content-header-part .content-type-buttons button:hover {
  border-color: var(--customYellow);
  color: var(--white);
}
.latest-movies-section .content-container .content-header-part .content-type-buttons .swiper-buttons {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--darkBorder);
  background-color: var(--darkBg);
  border-radius: 20px;
}
.latest-movies-section .content-container .content-header-part .content-type-buttons .swiper-buttons:hover {
  border-color: var(--customYellow);
}
.latest-movies-section .content-container .content-header-part .content-type-buttons .swiper-buttons .left-slide,
.latest-movies-section .content-container .content-header-part .content-type-buttons .swiper-buttons .right-slide {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--white);
}
.latest-movies-section .content-container .content-header-part .content-type-buttons .swiper-buttons .left-slide {
  padding: 10px 8px 10px 24px;
  border-radius: 20px 0px 0px 20px;
}
.latest-movies-section .content-container .content-header-part .content-type-buttons .swiper-buttons .right-slide {
  padding: 10px 24px 10px 8px;
  border-radius: 0px 20px 20px 0px;
}
.latest-movies-section .content-container .content-header-part .content-type-buttons .swiper-buttons span {
  border-left: 2px solid var(--darkBorder);
  margin: 10px;
}
.latest-movies-section .content-container .movie-data-part {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: baseline;
  gap: 2rem;
}
.latest-movies-section .content-container .movie-data-part .movie-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.latest-movies-section .content-container .movie-data-part .movie-card img {
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}
.latest-movies-section .content-container .movie-data-part .movie-card .movie-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest-movies-section .content-container .movie-data-part .movie-card .movie-details .movie-title {
  display: block;
  color: var(--white);
  font-weight: bold;
  letter-spacing: 1px;
}
.latest-movies-section .content-container .movie-data-part .movie-card .movie-details .movie-year {
  color: var(--customYellow);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
.latest-movies-section .content-container .movie-data-part .movie-card .movie-info {
  display: flex;
  justify-content: space-between;
}
.latest-movies-section .content-container .movie-data-part .movie-card .movie-info .movie-quality {
  color: var(--customYellow);
  border: 2px solid var(--white);
  font-size: 11px;
  padding: 5px 10px;
  font-weight: bold;
  line-height: 1;
}
.latest-movies-section .content-container .movie-data-part .movie-card .movie-info .duration-and-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
}
.latest-movies-section .content-container .movie-data-part .movie-card .movie-info .duration-and-rating .fa-thumbs-up {
  color: var(--customYellow);
}
.latest-movies-section .content-container .movie-data-part .movie-card .movie-info .duration-and-rating .rating {
  color: #e3dfdf;
}

header .container {
  color: var(--white);
  width: 80%;
  margin: auto;
  padding: 3rem 0rem;
}
@media (max-width: 1280px) {
  header .container {
    width: 90%;
  }
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-flex .logo-container img {
  font-weight: bold;
  color: var(--customYellow);
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.navbar-flex .fa-bars {
  display: none;
}
@media (max-width: 1280px) {
  .navbar-flex .fa-bars {
    display: block;
    cursor: pointer;
  }
  .navbar-flex .fa-bars:hover {
    color: var(--customYellow);
  }
}
.navbar-flex .nav-toolbar {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar-flex .nav-toolbar .fa-search,
.navbar-flex .nav-toolbar .fa-user {
  font-size: 17px;
}
.navbar-flex .nav-toolbar .fa-search:hover,
.navbar-flex .nav-toolbar .fa-user:hover {
  color: var(--customYellow);
}
@media (max-width: 1280px) {
  .navbar-flex .nav-toolbar .subscribe-btn {
    display: none;
  }
}
.navbar-flex .nav-toolbar .mobile-menu-container {
  width: 300px;
  max-width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--darkBg);
}
@media (max-width: 1280px) {
  .navbar-flex .nav-toolbar .mobile-menu-container {
    display: flex;
    flex-direction: column;
    z-index: 99;
  }
  .navbar-flex .nav-toolbar .mobile-menu-container nav {
    display: flex;
  }
  .navbar-flex .nav-toolbar .mobile-menu-container nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .navbar-flex .nav-toolbar .mobile-menu-container nav ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 0;
  }
  .navbar-flex .nav-toolbar .mobile-menu-container nav ul li a {
    padding: 10px 25px;
    line-height: 24px;
    font-size: 15px;
    position: relative;
    display: block;
    font-weight: 500;
    text-transform: capitalize;
  }
}
.navbar-flex .nav-toolbar .mobile-menu-container .mob-menu-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 25px;
}
.navbar-flex .nav-toolbar .mobile-menu-container .mob-menu-header .logo-container img {
  font-size: 24px;
}
.navbar-flex .nav-toolbar .mobile-menu-container .mob-menu-header .close-icon {
  font-size: 20px;
}
.navbar-flex .nav-toolbar .mobile-nav-backdrop {
  display: none;
}
.navbar-flex .nav-toolbar .mobile-nav-backdrop.visible {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.8;
  background: var(--darkBg);
  transition: 0.6s;
}
.navbar-flex .nav-toolbar .mobile-nav-open {
  transition: 0.6s;
  transform: translateX(0%);
}
.navbar-flex .nav-toolbar .mobile-nav-closed {
  transition: 0.6s;
  transform: translateX(101%);
  opacity: 0;
}

header nav ul {
  display: inline-block;
  font-size: var(--mainFontSize);
}
header nav ul li {
  display: inline-block;
  margin-right: 20px;
}
header nav ul li a {
  color: var(--white);
  transition: all 300ms ease-in-out;
}
header nav ul li a:hover {
  color: var(--customYellow);
}
header nav ul li .active {
  color: var(--customYellow);
}
@media (max-width: 1280px) {
  header nav ul {
    display: none;
  }
}

:root {
  --customYellow: #e4d804;
  --darkBg: #171d22;
  --white: #fff;
  --mainFont: "Poppins";
  --mainFontSize: 14px;
  --buttonBg: #20212b;
  --darkBorder: #2d303d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background-color: var(--darkBg);
  margin: 0;
  font-family: var(--mainFont);
  min-height: s 100vh;
  transition: 0.5s;
}

h1 {
  font-size: 3em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
  text-transform: uppercase;
}

i {
  cursor: pointer;
  transition: 0.5s;
}

.btn {
  font-family: inherit;
  -webkit-user-select: none;
          user-select: none;
  -moz-user-select: none;
  background: #12151e none repeat scroll 0 0;
  border: 2px solid var(--customYellow);
  border-radius: 50px;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 10px 24px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  max-width: 200px;
}

.btn:hover {
  background-color: var(--customYellow);
  color: var(--darkBg);
}
.btn:hover i {
  color: var(--darkBg);
}

.btn > i {
  margin-right: 7px;
}

img {
  display: block;
}/*# sourceMappingURL=global.css.map */