/* Screen size breakpoints */
$breakpoint-mobile: 576px; /* Small mobile devices */
$breakpoint-tablet-portrait: 768px; /* Portrait mode tablets */
$breakpoint-tablet-landscape: 1024px; /* Landscape mode tablets */
$breakpoint-desktop: 1280px; /* Standard desktops */
$breakpoint-large-desktop: 1440px; /* Large desktops */
$breakpoint-very-large-desktop: 1600px; /* Screens which are much more larger than regular dekstop */

@mixin legacyMobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}
@mixin premiumMobile {
  @media (max-width: $breakpoint-tablet-portrait) {
    @content;
  }
}
@mixin tabletPortrait {
  @media (max-width: $breakpoint-tablet-landscape) {
    @content;
  }
}
@mixin tabletLandscape {
  @media (max-width: $breakpoint-desktop) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: $breakpoint-large-desktop) {
    @content;
  }
}
@mixin veryLargeDesktop {
  @media (min-width: $breakpoint-very-large-desktop) {
    @content;
  }
}

// @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700;1,900&family=Teko:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import "home";
@import "movies";
@import "tvshows";
@import "contact";
@import "documentaries";
@import "nav";

// Common value declaration
:root {
  --customYellow: #e4d804;
  --darkBg: #171d22;
  --white: #fff;
  --mainFont: "Poppins";
  --mainFontSize: 14px;
  --buttonBg: #20212b;
  --darkBorder: #2d303d;
  --logoFont: "Hammersmith One", sans-serif;
}

// All elements standart styling
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// html initial height setting
html {
  min-height: 100vh;
}

body {
  background-color: var(--darkBg);
  margin: 0;
  font-family: var(--mainFont);
  min-height: s 100vh;
  transition: 0.5s;
}

h1 {
  font-size: 3em;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
  text-transform: uppercase;
}

i {
  cursor: pointer;
  transition: 0.5s;
}
.btn {
  font-family: inherit;
  user-select: none;
  -moz-user-select: none;
  background: #12151e none repeat scroll 0 0;
  border: 2px solid var(--customYellow);
  border-radius: 50px;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 10px 24px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  max-width: 200px;
}
.btn:hover {
  background-color: var(--customYellow);
  i {
    color: var(--darkBg);
  }
  color: var(--darkBg);
}
.btn > i {
  margin-right: 7px;
}
img {
  // max-width: 100%;
  display: block;
}

//Not Found Banner styles
.not-found-section {
  height: 100vh;
  width: 100%;
  .not-found-banner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;

    div:first-child {
      img {
        content: url("../assets/images/notfound.svg");
        width: 100%;
        max-width: 700px;
      }
    }
    .page-not-found-txt {
      font-size: 30px;
      font-weight: 400;
      color: var(--white);
    }
    div:nth-child(3) {
      a {
        padding: 15px 20px;
        font-size: 20px;
        // font-weight: bold;
        font-family: var(--logoFont);
        cursor: pointer;
        color: var(--white);
        background-color: var(--customYellow);
        border: none;
        border-radius: 4px;
        box-shadow: 0px 3px 4px 0px rgba(30, 30, 30, 0.17);
      }
    }
  }
}
