// Header/Navbar styling

header .container {
  // background-color: #171d22;
  color: var(--white);
  max-width: 95%;
  margin: auto;
  padding: 3rem 1rem;
}
.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul {
  display: inline-block;
  font-size: 16px;
  li {
    display: inline-block;
    margin-right: 20px;

    a {
      color: var(--white);
      transition: all 300ms ease-in-out;
      &:hover {
        color: var(--customYellow);
      }
    }
    .clicked {
      a {
        color: var(--customYellow);
      }
    }
  }
}


