@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700;1,900&family=Teko:wght@300..700&display=swap");
/* Modification of body */
body {
  background: #062928;
  margin: 0;
  font-family: "Teko", sans-serif;
  min-height: 100hv;
}

/* Modification of Navigation bar */
.navbar {
  background: white;
  padding: 0.5em;
}

/* Logo modification */
.navbar .logo {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.navbar .logo img {
  height: 40px;
}

/**/
.navbar .logo span {
  font-size: 30px;
  list-style: none;
  color: #062928;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: flex;
  place-content: space-between;
}

/* Mobile menu modification for mobile version */
.navbar .mobile-menu {
  cursor: pointer;
  width: 28px;
}

/* From here modification of movie trailer block */
.featured-conten .container {
  display: inline;
}

.featured-conten .container .featured-desc {
  color: rgb(4, 252, 12);
}

/* Image space modifications*/
.featured-conten .container img {
  width: 100%;
  height: 600px;
}

.featured-conten .container div {
  position: absolute;
  left: 15%;
  top: 45%;
  font-size: 45px;
  font-weight: bold;
  color: antiquewhite;
}

/*  Trailer sect. watch button modification */
.featured-conten .container button {
  position: absolute;
  color: #800020;
  font-size: large;
  top: 70%;
  left: 15%;
  border-radius: 10px;
  -webkit-text-decoration: #800020;
          text-decoration: #800020;
  border-color: #d8e3ff;
  font-weight: bold;
}

/* Trailer block text modifications*/
.hero {
  text-align: center;
}

ul {
  list-style-type: none;
}

/*section {
  padding: 5em 2em;
}*/
.left-col .subhead {
  padding-left: 400px;
  text-transform: uppercase;
  font-size: larger;
  font-weight: bold;
  color: #800020;
  letter-spacing: 0.3em;
}

/**/
ul.features-list {
  margin: 0;
  padding-left: 0.2em;
  display: grid;
}

ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 0.5em;
  margin-left: 2em;
}

/**/
.features-section img {
  display: none;
}

/* Social media contacts sect. modification */
.Social-media ul {
  display: flex;
}

.Social-media ul li {
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: auto;
}

/* From here  ContactUs block modifications */
h2 {
  font-size: 2em;
  margin-left: 3%;
}

label {
  display: block;
  font-size: 1.2em;
  margin-top: 0.3em;
  margin-left: 3%;
}

/* input-Text blocks modifications */
input,
textarea {
  width: 92%;
  padding: 0.8em;
  margin-bottom: 1em;
  margin-left: 3%;
}

/* Sen message button modificaitons */
.send-message-cta {
  background-color: white;
  font-weight: bold;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  display: inline;
  width: 50%;
  height: 300px;
}

/* Mobile menu mocifications */
nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

/**/
nav ul.primary-nav {
  margin-top: 5em;
  padding-left: 10%;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  margin-top: 0.9em;
  font-size: 1.3em;
  text-align: right;
}

/**/
nav li a:hover {
  font-weight: bold;
}

/* mobile menu: Exit button modifications */
.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
  width: 7%;
}

/**/
@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.contact1 a {
    margin-top: 0.2em;
  }
  /* Premium button modificaitons */
  .navbar nav li.premium-cta a {
    color: #062928;
    border: solid 3px #062928;
    font-weight: bold;
    border-radius: 5em;
    margin-top: 0.1em;
  }
  .navbar nav li.premium-cta a:hover {
    background: #062928;
    color: #ff5733;
  }
}
@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10 em;
  }
}

.movie-list {
  padding: 20px;
}

.main-list {
  display: flex;
  align-items: top;
  height: 300px;
  position: relative;
  scroll-behavior: smooth;
  overflow: auto;
}

.list-item {
  margin-right: 30px;
  margin-left: 35px;
  position: relative;
}

.list-item .item-image {
  border-radius: 20px;
  width: 280px;
  height: 180px;
  transition: all 0.8s ease-in-out;
}

.list-item:hover .item-image {
  transform: scale(1.2);
  margin: 0 10px;
  opacity: 0.5;
}

.list-item .movie-title {
  font-family: "Palatino";
  color: antiquewhite;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 195px;
  left: 10px;
}

.list-item .item-button {
  font-family: "Palatino";
  font-size: larger;
  padding: 10px;
  font-weight: bold;
  background-color: #800020;
  color: antiquewhite;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 195px;
  left: 115px;
  opacity: 0;
}

.list-item:hover .item-button {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.movie-list .list-wrapper {
  position: relative;
  overflow: auto;
}

.icon {
  font-size: 120px;
  position: absolute;
  top: 60px;
  right: 0;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.icon:hover {
  color: #800020;
}

/*From Here Modifications for Movies Page*/
.swiper {
  width: 100%;
  height: 250px;
  top: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  max-width: 220px;
  border-radius: 20px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

video {
  max-width: 200px;
}/*# sourceMappingURL=style.css.map */